<!DOCTYPE html>
<html lang="en">
<style>
@font-face {
font-family: "Glamour Brush";
src: 
url("static/glamour_brush.otf") format("opentype");
}

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

body, html {
    margin: 0;
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(static/background.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: repeat-y;
}

</style>
<script type="text/javascript">
function toggleSQL() {
  var x = document.getElementById("sql_query");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<head>
    <meta charset="UTF-8">
    <title>Dish Generator</title>
</head>
<body>
<div class="banner">
    <img src="static/banner.png" alt="banner" style="width: 100%">
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="" method="post">
    {{ form.csrf }}
    
    <table class="input" style="width:100%">

    <tr>
        <td>Name contains...</td>
        <td>
            <input id="name" name="name" type="text"
            value="{{ request.form['name'] }}"
            style="color: black;">
        </td>

        <td>{{ form.ingredients.label }}</td>
        <td>
            <input id="ingredients" name="ingredients" type="text"
            value="{{ request.form['ingredients'] }}"
            style="color: black;">
        </td>

        <td>{{ form.occasions.label }}</td>
        <td><!-- {{ form.occasions()}} -->
            <select class="input" name="occasions" style="color: black;"
                value="{{ request.form['occasions'] }}">
                <option value=""></option>
                <option value="anniversary">anniversary</option>
                <option value="back to school">back to school</option>
                <option value="backyard bbq">backyard bbq</option>
                <option value="bastille day">bastille day</option>
                <option value="birthday">birthday</option>
                <option value="camping">camping</option>
                <option value="christmas">christmas</option>
                <option value="christmas eve">christmas eve</option>
                <option value="cinco de mayo">cinco de mayo</option>
                <option value="cocktail party">cocktail party</option>
                <option value="diwali">diwali</option>
                <option value="easter">easter</option>
                <option value="father's day">father's day/option>
                <option value="fourth of july">fourth of july</option>
                <option value="friendsgiving">friendsgiving</option>
                <option value="graduation">graduation</option>
                <option value="hanukkah">hanukkah</option>
                <option value="kentucky derby">kentucky derby</option>
                <option value="kwanzaa">kwanzaa</option>
                <option value="labor day">labor day</option>
                <option value="lunar new year">lunar new year</option>
                <option value="mardi gras">mardi gras</option>
                <option value="mother's day">mother's day</option>
                <option value="new year's day">new year's day</option>
                <option value="oktoberfest">oktoberfest</option>
                <option value="oscars">oscars</option>
                <option value="parade">parade</option>
                <option value="party">party</option>
                <option value="passover">passover</option>
                <option value="persian new year">persian new year</option>
                <option value="picnic">picnic</option>
                <option value="poker/game night">poker/game night</option>
                <option value="potluck">potluck</option>
                <option value="purim">purim</option>
                <option value="ramadan">ramadan</option>
                <option value="rosh hashanah/yom kippur">rosh hashanah/yom kippur</option>
                <option value="shavuot">shavuot</option>
                <option value="spring">spring</option>
                <option value="st. patrick's day">st. patrick's day</option>
                <option value="sukkot">sukkot</option>
                <option value="summer">summer</option>
                <option value="tailgating">tailgating</option>
                <option value="thanksgiving">thanksgiving</option>
                <option value="valentine's day">valentine's day</option>
                <option value="wedding">wedding</option>
                <option value="winter">winter</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>Meal of the day</td>
        <td colspan="5">
            <table class="input" style="width:100%">
            <tr style="background-color: rgba(0, 0, 0, 0);">
                <td style="border: 0px">
                {{ form.breakfast.label }}{{ form.breakfast() }}
                </td>
                <td style="border: 0px">
                {{ form.brunch.label }}{{ form.brunch() }}
                </td>
                <td style="border: 0px">
                {{ form.lunch.label }}{{ form.lunch() }}
                </td>
                <td style="border: 0px">
                {{ form.dinner.label }}{{ form.dinner() }}
                </td>
                <td style="border: 0px">
                {{ form.dessert.label }}{{ form.dessert() }}
                </td>
            </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>Nutrition</td>
        <td colspan="5">
            <table class="input" style="width:100%, border: 0px">

            <tr style="background-color: rgba(0, 0, 0, 0);">
                <!-- ########## CALORIES ########## -->
                <td style="border: 0px; width: 33.33%;">
                <label for="calories">Calories (cal)</label>

                <div class="container">min:
                <input type="range" name="mincalories" min="0" max="2500"
                    value="0" step="100" list="mincaloriesTickmarks"
                    id="mincaloriesInput"
                    oninput="mincaloriesOutput.value = mincaloriesInput.value">
                <datalist id="mincaloriesTickmarks">
                <option>0</option>
                <option>500</option>
                <option>1000</option>
                <option>1500</option>
                <option>2000</option>
                <option>2500</option>
                </datalist>
                <output id="mincaloriesOutput" for="mincaloriesInput">
                    0
                </output>
                </div>

                <div class="container">max:
                <input type="range" name="calories" min="0" max="2500"
                    value="2500" step="100" list="caloriesTickmarks"
                    id="caloriesInput"
                    oninput="caloriesOutput.value = caloriesInput.value">
                <datalist id="caloriesTickmarks">
                <option>0</option>
                <option>500</option>
                <option>1000</option>
                <option>1500</option>
                <option>2000</option>
                <option>2500</option>
                </datalist>
                <output id="caloriesOutput" for="caloriesInput">
                    2500
                </output>
                </div>
                </td>

                <!-- ########## PROTEIN ########## -->
                <td style="border: 0px; width: 33.33%;">
                <label for="protein">Protein (gram)</label>

                <div class="container">min:
                <input type="range" name="minprotein" min="0" max="180"
                    value="0" step="10" list="minproteinTickmarks"
                    id="minproteinInput"
                    oninput="minproteinOutput.value = minproteinInput.value">
                <datalist id="minproteinTickmarks">
                <option>0</option>
                <option>30</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
                </datalist>
                <output id="minproteinOutput" for="minproteinInput">
                    0
                </output>
                </div>

                <div class="container">max:
                <input type="range" name="protein" min="0" max="180"
                    value="180" step="10" list="proteinTickmarks"
                    id="proteinInput"
                    oninput="proteinOutput.value = proteinInput.value">
                <datalist id="proteinTickmarks">
                <option>0</option>
                <option>30</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
                </datalist>
                <output id="proteinOutput" for="proteinInput">
                    180
                </output>
                </div>
                </td>

                <!-- ########## FAT ########## -->
                <td style="border: 0px; width: 33.33%;">
                <label for="fat">Fat (gram)</label>

                <div class="container">min:
                <input type="range" name="minfat" min="0" max="180"
                    value="0" step="10" list="minfatTickmarks"
                    id="minfatInput"
                    oninput="minfatOutput.value = minfatInput.value">
                <datalist id="minfatTickmarks">
                <option>0</option>
                <option>30</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
                </datalist>
                <output id="minfatOutput" for="minfatInput">0</output>
                </div>

                <div class="container">max:
                <input type="range" name="fat" min="0" max="180"
                    value="180" step="10" list="fatTickmarks"
                    id="fatInput"
                    oninput="fatOutput.value = fatInput.value">
                <datalist id="fatTickmarks">
                <option>0</option>
                <option>30</option>
                <option>60</option>
                <option>90</option>
                <option>120</option>
                <option>150</option>
                <option>180</option>
                </datalist>
                <output id="fatOutput" for="fatInput">180</output>
                </div>
                </td>
            </tr>
            
            </table>
            
        </td>
    </tr>
    </table>
    </br>
    <div style="text-align: center;">
        <input id="submit" name="submit" type="submit" value="Show me my dish!"
        style="color: black;">
    </div>
    
</form>

</br>
</br>

{% if result %}
<div style="text-align: center;">
    <div style="font-family: 'Glamour Brush'; font-size: 4em">
        {{ result[0].title }}!
    </div>
    <table style="width:100%">
        <td style="border: 0px; width: 27.5%;"></td>
        <td style="border: 0px; width: 15%;">
             Calories: {{ result[0].calories }} cal
         </td>
        <td style="border: 0px; width: 15%; text-align: center;">
             Protein: {{ result[0].protein }} gram
         </td>
        <td style="border: 0px; width: 15%; text-align: center;">
             Fat: {{ result[0].fat }} gram
         </td>
        <td style="border: 0px; width: 27.5%; text-align: center;"></td>
    </table>
    <a href={{ result[0].link.link }}>Check out a recipe here!</a>

    </br>
    </br>
{% endif %}

{% if result and result[1:] %}
    Unhappy with that first choice? We got you! Here are other options:
    <table style="width:100%">
        <tr>
            <th style="border: 0px; width: 20%;"></th>
            <th>Dish</th>
            <th>Calories (cal)</th>
            <th>Protein (gram)</th>
            <th>Fat (gram)</th>
            <th style="border: 0px; width: 20%;"></th>
        </tr>
        {% for row in result[1:] %}
        <tr>
            <td style="border: 0px; width: 20%;"></td>
            <td>
                <a href={{ row.link.link }}>{{ row.title }}</a>            
            </td>
            <td> {{ row.calories }}</td>
            <td> {{ row.protein }}</td>
            <td> {{ row.fat }}</td>
            <td style="border: 0px; width: 20%;"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

</br>
</br>
{% if query %}
<div style="text-align: center;">
    <button onclick="toggleSQL()" style="color: black">Toggle SQL query</button>
    <div id="sql_query" style="display: none">
        {{ query }}
    </div>
</div>
{% endif %}

</div>
</body>
</html>
