<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Dish Generator</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="" method="post">
    {{ form.csrf }}
    
    <table class="input" style="width:100%">
    <tr>
        <th>Label</th>
        <th>Value</th>
    </tr>

    <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name() }}</td>
    </tr>

    <tr>
        <td>{{ form.ingredients.label }}</td>
        <td>{{ form.ingredients() }}</td>
    </tr>

    <tr>
        <td>{{ form.occasions.label }}</td>
        <td>{{ form.occasions() }}</td>
    </tr>

    <tr>
        <td>{{ form.breakfast.label }}</td>
        <td>{{ form.breakfast() }}</td>
    </tr>

    <tr>
        <td>{{ form.brunch.label }}</td>
        <td>{{ form.brunch() }}</td>
    </tr>

    <tr>
        <td>{{ form.lunch.label }}</td>
        <td>{{ form.lunch() }}</td>
    </tr>

    <tr>
        <td>{{ form.dinner.label }}</td>
        <td>{{ form.dinner() }}</td>
    </tr>

    <tr>
        <td>{{ form.dessert.label }}</td>
        <td>{{ form.dessert() }}</td>
    </tr>

    <tr>
        <td>{{ form.submit.label }}</td>
        <td>{{ form.submit() }}</td>
    </tr>

    </table>

</form>

</br>
<div>
SQL query:
{% if query %}
    {{ query }}
{% endif %}
</div>
</br>

<table style="width:100%">
    {% if result %}
    <tr>
        <th>Title</th>
        <th>Recipe</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.title }}</td>
        <td>
            <a href={{ row.link.link }}>{{ row.link.name }}</a>
            </br> 
            {{ row.link.description }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>
