<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Dish Generator</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="" method="post">
    {{ form.csrf }}
    
    <table class="input" style="width:100%">
    <tr>
        <th>Label</th>
        <th>Value</th>
    </tr>

    <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name() }}</td>
    </tr>

    <tr>
        <td>{{ form.ingredients.label }}</td>
        <td>{{ form.ingredients() }}</td>
    </tr>

    <tr>
        <td>{{ form.occasions.label }}</td>
        <td>{{ form.occasions() }}</td>
    </tr>

    <tr>
        <td>Meal of the day</td>
        <td>
            <table class="input" style="width:100%">
            <tr>
                <td>{{ form.breakfast.label }}{{ form.breakfast() }}</td>

                <td>{{ form.brunch.label }}{{ form.brunch() }}</td>

                <td>{{ form.lunch.label }}{{ form.lunch() }}</td>

                <td>{{ form.dinner.label }}{{ form.dinner() }}</td>

                <td>{{ form.dessert.label }}{{ form.dessert() }}</td>
            </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td><label for="calories">Calories</label></td>
        <td>
            <div class="container">
            <!-- <input type="range" id="start" name="calories" min="0" max="2500" list="tickmarks">
            <datalist id="tickmarks">
                <option value="0" label="0">
                <option value="500" label="500">
                <option value="1000" label="1000">
                <option value="1500" label="1500">
                <option value="2000" label="2000">
                <option value="2500" label="2500">
            </datalist> -->
            <input type="range" name="calories" min="0" max="2500" value="1500" step="100" list="tickmarks" id="rangeInput" oninput="output.value = rangeInput.value">
            <datalist id="tickmarks">
            <option>0</option>
            <option>500</option>
            <option>1000</option>
            <option>1500</option>
            <option>2000</option>
            <option>2500</option>
            </datalist>
            <output id="output" for="rangeInput">1500</output>
            </div>
        </td>
            
        </td>
    </tr>

    <tr>
        <td>{{ form.submit.label }}</td>
        <td>{{ form.submit() }}</td>
    </tr>

    </table>

</form>

</br>
<div>
SQL query:
{% if query %}
    {{ query }}
{% endif %}
</div>
</br>

<table style="width:100%">
    {% if result %}
    <tr>
        <th>Title</th>
        <th>Recipe</th>
        <th>Calories</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.title }}</td>
        <td>
            <a href={{ row.link.link }}>{{ row.link.name }}</a>
            </br> 
            {{ row.link.description }}
        </td>
        <td> {{ row.calories }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>
